# Dataset Validation Report

**Dataset**: C:\Users\brcal\OneDrive\Documentos\sistemas\OFICINA\OFICINA\functions\yolov8-detector\datasets\car-damage
